@import 'tailwindcss';

@theme {
  /* Warna tema utama */
  --color-primary: #ffff00; /* Kuning cerah (kejuaraan) */
  --color-secondary: #1565c0; /* Biru sporty */
  --color-accent: #2e7d32; /* Hijau alam */
}
